<!DOCTYPE html>
<html>
<head>
  <title>Biskupska</title>
  <%= stylesheet_link_tag    'admin/application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
 <%= link_to(destroy_admin_session_path, class: "", :method => :delete) do %>
    Wyloguj
 <% end %>
<%= yield %>

</body>
</html>