<!DOCTYPE html>
<html>
<head>
  <title>Biskupska</title>
  <%= stylesheet_link_tag    'admin', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'admin', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">biskupska.com</a>
        <p class="navbar-text">Nazwa aktualnego kotrolera: <strong style="color: #fff"><%= params[:controller] %></strong></p>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

        <ul class="nav navbar-nav side-nav">
          <li<% if params[:controller] == 'admin/page' %> class="active" <% end %>>
            <%= link_to("Podstrony", admin_page_index_path) %>
          </li>
          <li<% if params[:controller] == 'admin/project' %> class="active" <% end %>>
            <%= link_to("Realizacje", admin_project_index_path) %>
          </li>
        </ul>


        <ul class="nav navbar-nav navbar-right">
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown"><%= icon('user') %> <%= current_admin.email %> <b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li><a href="#">Action</a></li>
              <li><a href="#">Another action</a></li>
              <li><a href="#">Something else here</a></li>
              <li class="divider"></li>
              <li>
                 <%= link_to(destroy_admin_session_path, class: "", :method => :delete) do %>
                    <%= icon('sign-out') %> Wyloguj
                 <% end %>
              </li>
            </ul>
          </li>
        </ul>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>
  
  
          <% flash.each do |name, msg| %>
            <% if msg.class == Array %>
              <% msg.each do |message| %>
                <%= content_tag :div, message, :class => "alert alert-danger", :id => "flash_#{name}" %>
              <% end %>
            <% else %>
              <%= content_tag :div, msg, :class => "alert alert-danger", :id => "flash_#{name}" %>
            <% end %>
          <% end %>
<%= yield %>

</body>
</html>